
/*css do formulario*/
.container{
      width: 768px;
      margin: 0 auto;
  }
  #form{
      background-color:#b996c0;
      padding:40px 20px;
      margin-top: 50px;
      box-shadow: 0 0 15px #461ec0;
  }
  #form label{
      display: block;
  }
  #form input, #form select, #form textarea{
    width: 100%;
    padding: 10px;
  }
  #form [class*="col-"]{
      padding: 10px;
  }
  #form input[type=submit]{
      border-radius:  20px solid blueviolet;
      background-color: rgb(172, 79, 180);
      color:#c094c9;
      transition:all 0.5s;
  }
  #form input[type=submit]:hover{
      background-color: rgb(60, 58, 187);
      color: white;
      cursor: pointer;
  }
  #form i{
    position: absolute;  
    margin: 13px 0 0 -25px;
    color: rgb(107, 62, 180);
  }
